body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  margin-top: 10px;
}

.form-container{
  margin-top: 5px;
}


.nav-container{
  margin-top: 20px;
  margin-bottom: 5px;
}

.menu-container{
  display: flex;
  align-items: center;
}