body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.index-page {
}

.nav-container {
  margin-bottom: 5px;
  background-color: aqua;
  min-height: 10vh;
  text-align: center;
}

.map-container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.menu-container {
  display: flex;
  align-items: center;
}
