body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 10px;
}

.index-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-container{
  margin-bottom: 5px;
  background-color: aqua;
  min-height: 10vh;
  text-align: center;
}

.map-container{
  background-color: black;
  display: flex;
  justify-content: center;

}

.menu-container{
  display: flex;
  align-items: center;
}